body {
	/*background: black;*/
	color: white;
}

.sonosContainer {
	font-size: 20px;
}

.sonosThumbnail {
	-webkit-filter: grayscale(100%) brightness(120%);
	filter: grayscale(100%) brightness(120%);
	padding: 5px 0px 5px 0px;
	color: black;
	width: 237px;
	height: 252px;
	text-align: center;
    border-radius: 0px;

}

.sonosThumbnailColor {
	filter: brightness(120%);
	padding: 5px 5px 5px 0px;
	color: black;
	width: 237px !important;
	height: 252px !important;
	text-align: center;
    border-radius: 0px;

}

.sonosThumbnail img {
	width: 242px;
	height: 242px;
}

.sonosInfoTitle 
{
	font-weight: bold;
	text-align: right;
	padding-right: 15px;
	vertical-align: top;
}


.sonosLeft {
	float: left;
	background: lightgrey;
	border-radius: 5px;
}

.sonosRight {
	padding-left: 272px;
	/*background: black;*/
}

.thumbnailCenter {
	color: black;
	padding-bottom: 0px;
}

.sonosRoom {
	font-weight: normal;
	text-align: left;
	float: left;
	margin-left: 10px;
	background: lightgrey;
}

.sonosRemaining {
	text-align: right;
	margin-right: 10px;
}

.sonosCurrent {
	font-weight: bold;
	padding-bottom: 20px;
	text-align: left;
}

.sonosNext {
	font-weight: normal;
	
}


#roomScroller {
    position: relative;
  align: top;
    height: 0px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}


.roomProgress {
position: absolute;
top: 4px;
left: 10px;
height: 5px;
  width: 218px;
  background-color: lightgrey;
list-style-type: none;
 z-index: 2;

}

.roomProgressBar {
position: relative;
height: 2px;
top: 0px;	
  width: 0%;
  background-color: #222222;
list-style-type: none;
 z-index: 1;
}

.dot
{
	      
	 background: white;
	      top: 0px;
	  width: 7px;
	  height: 7px;
	  border-radius: 50%;
	      opacity: 0.5;
	      z-index: 5;

	      -webkit-transition: opacity 1s;
	      -moz-transition: opacity 1s;
	      -o-transition: opacity 1s;
	      transition: opacity 1s;
}

.active
{
    opacity: 0.9;
    
}

.hidden
{
  display: none;
  visibility: hidden;
}

.slide 
{
    position: absolute;
    left: 0px;
  vertical-align: top;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing 
{
    opacity: 1;
    z-index: 2;
}

#dotScroller {   
    position: relative;
  left: 0px;
  top: 285px;
  width: 254px;
    margin-top: 0px;
    margin-left: 0px ; 
    margin-right: auto;

     text-align: center;
   align: center;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#dotScroller div {
    vertical-align: top;
    display: inline-block;
    margin-right: 20px;
    zoom: 1;
}

